
/*@font-face {*/
/*    src: url('../RobotoCondensed-Regular.ttf');*/
/*    font-family:'RobotoCondensed';*/
/*    font-style: normal;*/
/*    font-weight: 1 1000;*/
/*}*/

* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
}


.header-right {
    float: right;
}


.header {
    /*overflow: hidden;*/
    height:80px;
    padding-top: 10px;
    /*padding-bottom: 0px;*/
    background-color: #DCDCFF;
}

.navbar-nav .nav-item .nav-link {
    line-height: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 60px;
    text-decoration: none;
    font-size: 18px;
}

.navbar-nav .nav-item:hover .nav-link {
    opacity: 60%;
}


.footer {
    background-color: #DCDCFF;
}




.text-top-padding {
    padding-top: 60px;
}

.text-bottom-padding {
    padding-bottom: 60px;
}

.text-small-bottom-padding {
    padding-bottom: 40px;
}


.max-width-flourish {
    /*padding-left: 12%;*/
    /*padding-right: 12%;*/
    padding-left: 110px;
    padding-right: 110px;
}

.img-size-menu {
    width: 120px;
    height: 120px;
}

.div-width-title {
    width: 280px;
}

.div-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

/*.my-dropdown-item{*/
/*    padding:2rem 2rem;*/
/*}*/

.div-subtitle {
    font-weight: bold;
    font-size: 20px;
}

.div-text {
    text-align: justify;
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
}

.div-background{
    background-color: #DCDCFF;
}

.rowWrapper:hover {
    /*background-color: #eee;*/
    /*color: black;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    opacity: 60%;
}

.grid-title-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}
.grid-text {
    font-size: 18px;
    line-height: 20px;
    font-weight: lighter;
}

/*
 Monitor grid
*/

.grid-container {
    display: grid;
    column-gap: 25px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    /*background-color: #DCDCFF;*/
    /*!* background-color: rgba(255, 255, 255, 0);*!*/
    /*border: 0px solid rgba(0, 0, 0, 0.8);*/
    /*font-size: 15px;*/
    /*text-align: center;*/
    width: 190px;
    align-items: center;
}

/**
Noga in grid
*/
.grid-container-footer {
    display: grid;
    height: 120px;
    column-gap: 10px;
    grid-auto-columns: minmax(10px, auto);
    grid-template-columns: auto auto auto auto;
    align-items: center;
}


.grid-item-footer {
    background-color: #DCDCFF;
    /* background-color: rgba(255, 255, 255, 0);*/
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    align-items: center;
}

.container {
    max-width: 1280px;
    width: 100%;
    /*background-color: #1b1e21;*/
    margin: 0 auto;
}

.a {
    text-align: center;
    text-decoration: none;
    color: black;

}

.a:hover {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

.img-size-affiliation {
   width: 218px;
   height: 84px;
}

.img-size-idefine-affiliation {
    width: 173px;
    height: 72px;
}

.img-size-er-affiliation {
    width: 195px;
    height: 80px;
}


/*@media screen and(max-width: 1320px) {*/
/*    .container {*/
/*        padding: 0 40px;*/
/*        background-color: #0f6674;*/
/*    }*/
/*}*/

/*@media screen and(max-width: 991px) {*/
@media all and (min-width: 992px) and (max-width: 1320px) {
    .container {
        padding: 0 30px;
    /*    background-color: #6610f2;*/
    }
}

@media all and (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 0 15px;
  /*      background-color: #1c7430;*/
    }

    .navbar-nav .nav-item .nav-link {
        line-height: 30px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-right: 60px;
        text-decoration: none;
        font-size: 18px;
    }

    .img-size-menu {
        width: 85px;
        height: 85px;
    }

    .max-width-flourish {
        /*padding-left: 12%;*/
        /*padding-right: 12%;*/
        padding-left: 90px;
        padding-right: 90px;
    }

    .text-top-padding {
        padding-top: 40px;
    }

    .text-bottom-padding {
        padding-bottom: 40px;
    }

    .text-small-bottom-padding {
        padding-bottom: 30px;
    }


    .div-title {
        font-size: 41px;
        font-weight: bold;
        line-height: 35px;
    }

    .div-subtitle {
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
    }

    .div-text {
        text-align: justify;
        font-size: 18px;
        line-height: 22px;
        font-weight: lighter;
    }

    .grid-title-text {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }
    .grid-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: lighter;
    }

    .grid-container {
        display:flex ;
        column-gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-item {
        justify-content: center;
        align-items: center;
        width: 230px;
    }

    .img-size-affiliation {
        width: 177px;
        height: 69px;
    }

    .img-size-idefine-affiliation {
        width: 140px;
        height: 58px;
    }

    .img-size-er-affiliation {
        width: 158px;
        height: 60px;
    }

}

@media all and (min-width: 541px) and (max-width: 768px) {
    .container {
        padding: 0 15px;
    /*    background-color: #117a8b;*/
    }

    .navbar-nav .nav-item .nav-link {
        line-height: 30px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-right: 60px;
        text-decoration: none;
        font-size: 18px;
    }

    .img-size-menu {
        width: 85px;
        height: 85px;
    }

    .img-size {
        /*padding-left: 12%;*/
        /*padding-right: 12%;*/
        padding-left: 65px;
        padding-right: 65px;
    }

    .max-width-flourish {
        /*padding-left: 12%;*/
        /*padding-right: 12%;*/
        padding-left: 45px;
        padding-right: 45px;
    }

    .text-top-padding {
        padding-top: 40px;
    }

    .text-bottom-padding {
        padding-bottom: 40px;
    }

    .text-small-bottom-padding {
        padding-bottom: 30px;
    }

    .div-title {
        font-size: 41px;
        font-weight: bold;
        line-height: 35px;
    }

    .div-subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    .div-text {
        text-align: justify;
        font-size: 18px;
        line-height: 22px;
        font-weight: lighter;
    }

    .grid-title-text {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }
    .grid-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: lighter;
    }

    .grid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        justify-content: center;
        align-items: center;
        width: 160px;

    }

    .img-size-affiliation {
        width: 97px;
        height: 37px;
    }

    .img-size-idefine-affiliation {
        width: 76px;
        height: 31px;
    }

    .img-size-er-affiliation {
        width: 85px;
        height: 60px;
    }
}


@media all and (max-width: 541px) {
    .container {
        padding: 0 15px;
     /*   background-color: #f1b0b7;*/
    }

    .navbar-nav .nav-item .nav-link {
        line-height: 30px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-right: 30px;
        text-decoration: none;
        font-size: 16px;
    }

    .img-size-menu {
        width: 60px;
        height: 60px;
    }

    .max-width-flourish {
        /*padding-left: 12%;*/
        /*padding-right: 12%;*/
        padding-left: 45px;
        padding-right: 45px;
    }

    .text-top-padding {
        padding-top: 30px;
    }

    .text-bottom-padding {
        padding-bottom: 30px;
    }

    .text-small-bottom-padding {
        padding-bottom: 20px;
    }

    .div-title {
        font-size: 22px;
        font-weight: bold;
        line-height: 19px;
    }

    .div-subtitle {
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
    }

    .div-text {
        text-align: justify;
        font-size: 12px;
        line-height: 14px;
        font-weight: lighter;
    }

    .grid-title-text {
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
    }
    .grid-text {
        font-size: 10px;
        line-height: 12px;
        font-weight: lighter;
    }


    .grid-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        justify-content: center;
        align-items: center;
        width: 180px;
    }


    .img-size-affiliation {
        width: 97px;
        height: 37px;
    }

    .img-size-idefine-affiliation {
        width: 76px;
        height: 31px;
    }

    .img-size-er-affiliation {
        width: 85px;
        height: 60px;
    }
}
